#addAndSearch {
  text-align: center;
  margin-top: 10px;
}
#addAndSearch > * {
  margin: 10px;
}

h3 {
  text-align: center;
}

form {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 400px;
  text-align: right;
}

label {
  margin-top: 15px;
}

fieldset {
  text-align: left;
}

legend {
  text-align: left;
}

.form-buttons {
  text-align: center;
  margin-top: 10px;
}

.form-buttons > * {
  margin-left: 10px;
  width: 140px;
}

#contacts-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.contact {
  border: 3px solid lightgray;
  border-radius: 20px;
  padding: 7px;
}

.contact-btn {
  text-align: center;
}

.contact-btn > button {
  width: 90px;
}

.emptySearch {
  border: 3px solid lightgrey;
  border-radius: 20px;
  padding: 5%;
}

.btn-sml {
  font-size: smaller;
}

.btn-sml.cancel {
  display: none;
  border: red;
  background-color: tomato;
}
